:focus {outline:none !important;} /* remove dotted outlines in FF */

body { font-size: 140%; }

#wrap {
  padding: 20px;
}

.panel-heading.collapser h3 > a:after {
  font-family:'Glyphicons Halflings';
  content:"\e114";
  float: right;
}
.panel-heading.collapser h3 > a.collapsed:after {
  content:"\e080";
}

.match-players {
  border-top: none !important;
}

.attn {
  background-color: #7BFCAC;
  -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
      -ms-transition: all 0.3s ease-out;  /* IE10 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
          transition: all 0.3s ease-out;
}
.red {
  background-color: #F3C4C0;
}
.blue {
  background-color: #CEEBFC;
}
