:focus {outline:none !important;} /* remove dotted outlines in FF */

body { font-size: 140%; }

#wrap {
  padding:20px;
}

.attn {
  background-color: #AACDE2;
  -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
      -ms-transition: all 0.3s ease-out;  /* IE10 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
          transition: all 0.3s ease-out;
}
